{:user
 {:password "password hash"
  :is_superuser false
  :username "username_test"
  :first_name "firstname"
  :last_name "lastname"
  :email "test@testuser.com"
  :is_staff false
  :is_active false
  :date_joined "2018-08-31T00:00:00Z"
  :full_name "firstname lastname"
  :nick_name "pls deprecate"
  :graduation_date "2018-08-31T00:00:00Z"
  :concentration "CS"
  :gender "O"
  :phone_number "713666TOFU"}
 :application
 {:question_1 "Why do you want to rush Lambda Alpha Nu?"
  :question_2 "Talk about yourself in a couple of sentences."
  :question_3 "What is your major and why did you choose it?"
  :question_4 "What do you do in your spare time?"
  :question_5 "Talk about a current event in technology and why it interests you."
  :question_6 "Impress us"
  :question_7 "If you were to work on a personal project this semester that you could put on your resume, what would it be?"
  :is_submitted false }
 :semester
 {:semester "F18"}}

