{:objects
 {:AccountEmailAddress
  {:description "An email associated with a user"
   :fields
   {:id {:type (non-null Int)}
    :email {:type (non-null String)}
    :verified {:type (non-null Boolean)}
    :primary {:type (non-null Boolean)}
    :user_id {:type (non-null Int)}}}

  :AccountEmailConfirmation
  {:description "An email confirmation for a user's email"
   :fields
   {:id {:type (non-null Int)}
    :created {:type (non-null String)}
    :sent {:type String}
    :key {:type (non-null String)}
    :email_address_id {:type (non-null Int)}}}

  :Application
  {:description "An application for a rushee"
   :fields
   {:id {:type (non-null Int)}
    :question_1 {:type String}
    :question_2 {:type String}
    :question_3 {:type String}
    :question_4 {:type String}
    :question_5 {:type String}
    :question_6 {:type String}
    :question_7 {:type String}
    :applicant_user_id {:type (non-null Int)}
    :is_submitted {:type (non-null Int)}
    :reviews {:type (list :ApplicationReview)
              :resolve :Application/reviews}}}

  :ApplicationReview
  {:description "A review for an application"
   :fields
   {:id {:type (non-null Int)}
    :comment {:type String}
    :rating {:type Int}
    :application_id {:type Int}
    :review_user_id {:type Int}}}

  :SuggestionBoxComment
  {:description "A suggestion box comment"
   :fields
   {:id {:type (non-null Int)}
    :message {:type String}
    :is_open {:type (non-null Boolean)}}}

  :Event
  {:description "A LAN event"
   :fields
   {:id {:type (non-null Int)}
    :start_time {:type (non-null String)}
    :end_time {:type (non-null String)}
    :title {:type (non-null String)}
    :location {:type (non-null String)}
    :description {:type String}
    :image_url {:type (non-null String)}
    :created_on {:type (non-null String)}
    :creator_id {:type Int}
    :presented_by {:type String}
    :speaker {:type String}
    :text {:type String}
    :attendees {:type (list :User)}
    :event_tags {:type (list :EventTag)}}}

  :EventTag
  {:description "Tag for an event"
   :fields
   {:id {:type (non-null Int)}
    :name {:type (non-null String)}}}

  :Semester
  {:description "A calendar university semester"
   :fields
   {:id {:type (non-null Int)}
    :semester {:type (non-null String)}}}

  :User
  {:description "A user"
   :fields
   {:id {:type (non-null Int)}
    :password {:type (non-null String)}
    :last_login {:type String}
    :is_superuser {:type (non-null Boolean)}
    :username {:type (non-null String)}
    :first_name {:type (non-null String)}
    :last_name {:type (non-null String)}
    :email {:type (non-null String)}
    :is_staff {:type (non-null Boolean)}
    :is_active {:type (non-null Boolean)}
    :date_joined {:type (non-null String)}
    :full_name {:type (non-null String)}
    :nick_name {:type (non-null String)}
    :graduation_date {:type (non-null String)}
    :concentration {:type (non-null String)}
    :gender {:type (non-null String)}
    :phone_number {:type (non-null String)}
    :lan_class {:type String}
    :active_semesters {:type (list :Semester)
                       :resolve :User/active-semesters}
    :events_attended {:type (list :Event)
                      :resolve :User/events-attended}}}}

  :queries
  {:user_by_id
   {:type :User
    :args
    {:id {:type (non-null Int)}}
    :resolve :query/user-by-id}

   :applications
   {:type :Semester
    :args {}
    :resolve :query/applications}}}

